extends layout 

block content 
  h1 #{title} 

  form(method="POST" action='')
    .form-group 
      label(for='name')  장르: 
      input#name.form-control(type='text', placeholder='판타지, 시, 등등' name='name' value=(undefined===genre ? '' : genre.name))
      button.btn.btn-primary(type='submit') 생성

  if errors 
    ul 
      for error in errors 
        li!=error.msg
